body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.header {
    background: #003366;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnVolver {
    background: #dddddd;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 10px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.card h3 {
    margin-top: 0;
}

.descripcion {
    background: #fafafa;
    padding: 10px;
    border-left: 4px solid #003366;
}

textarea {
    width: 90%;
    min-height: 80px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #004080;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: .9;
}

.msg {
    margin-top: 8px;
    font-size: 14px;
}

.actividades {
    list-style: none;
    padding: 0;
}

.actividades li {
    background: #eeeeee;
    padding: 10px;
    margin-bottom: 8px;
    border-left: 4px solid #004080;
}
.btn-back {
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
}
.btn-back img {
    width: 20px;
    height: 20px;
}
.btn-back:hover {
    background: #8f8c8c;
}
