body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    background: #2c3e50;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}

.btn-back {
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
}
.btn-back img {
    width: 20px;
    height: 20px;
}
.btn-back:hover {
    background: #8f8c8c;
}
.container {
    margin: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

textarea {
    width: 90%;
    height: 80px;
    padding: 10px;
    resize: none;
}

button {
    background: #2ecc71;
    border: none;
    padding: 10px 14px;
    margin-top: 8px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.msg {
    margin-top: 10px;
    font-size: 14px;
}
.comentario {
    margin-top: 20px;
        grid-template-columns: 10fr;
}
