body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.header {
    background: #003366;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnVolver {
    background: #ddd;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.container {
    max-width: 1000px;
    margin: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.top-bar input {
    width: 60%;
    padding: 8px;
}

.btnCrear {
    background: #0066cc;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
.btnCrear:hover {
    background: #004c99;
}

.barsearch {
    border: 1px solid #636363;
    border-radius: 10px;
    margin-left: 10px; 
}

.card {
    background: white;
    padding: 20px;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btnDanger {
    background: #fd5b5b;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
}
.btnDanger:hover {
    background: #c02020;
}
.btnDanger img {
    width: 16px;
    height: 16px;
}
.btnEditar {
    background: #88ef8f;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
}
.btnEditar:hover {
    background: #26bb26;
}
.btnEditar img {
    width: 16px;
    height: 16px;
}

/* =========== MODAL =========== */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 8px;
}

.modal-content input,
.modal-content select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btnGuardar {
    background: #007b3e;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
.btnGuardar:hover {
    background: #005f2a;
}

.btnCancelar {
    background: #aaa;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
.btnCancelar:hover {
    background: #b84d4d;
}

.msg {
    margin-top: 8px;
}
.btn-back {
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    padding: 4px 8px;
}
.btn-back img {
    width: 20px;
    height: 20px;
}
.btn-back:hover {
    background: #8f8c8c;
}

